<%- include("partials/header"); -%>
<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% BlogPost.forEach(element => {%>
<h1><%=element.postTitle%></h1>
<p><%= element.postBody %></p>
<%}); %> 
<%-include("partials/footer"); -%>
