<%- include("partials/header"); -%>
<script src="lodash.js"></script>
<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% BlogPost.forEach(element => {%>
<h1><%=element.postTitle%></h1>
<p>
  <%= element.postBody.substring(0, 100) + "..." %>
  <a href="/post/<%= _.kebabCase(element.postTitle) %> ">Read more</a>
</p>
<%}); %> <%-include("partials/footer"); -%>
